@tailwind base;
@tailwind components;
@tailwind utilities;



body {
 /* background-color: #f4f3f3; */

 background-color: #f9f3f7;
 /* background-color: blue; */
  font-family: Arial, Helvetica, sans-serif;
}

audio::-webkit-media-controls-play-button{
  background-color: #2683a8;
  border-radius: 50%;
}

audio::-webkit-media-controls-panel {
  background-color: #56AEFF;
}